@{
    ViewBag.Title = "Index";
}

<style>
    form label 
    {
    	display: block;
    }
    form label em
    {
    	font-size: 75%;
    }
    fieldset
    {
    	background-color: #E8F4F6;
    	padding: 15px;
    	border-radius: 15px;
    	-moz-border-radius: 15px;
    }
</style>

<h2>Enter your details</h2>
@using (Html.BeginForm()) {
    @Html.Raw(Model)
    <input type="submit" value="Register" />
}
